<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test title</title>
    {% block css %}
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet" media="all">
    <% } %>
    {% endblock %}
</head>
<body>
{% block js %}
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>
{% endblock %}
</body>
</html>