.comments{
  .callout{
    .row{
      padding-top: 0px;
      padding-bottom: 0px;
      column{

        h3{
          font-size: 18px;
        }
        .comment-date{
        }
      }
    }
  }

}