<!-- Footer -->
<footer>
    <div class="footer-top">
        <div class="row">
            <div class="large-3 columns">
                <ul class="menu vertical" data-responsive-menu="accordion medium-dropdown">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Press Releases</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="large-3 columns">
                <ul class="menu vertical" data-responsive-menu="accordion medium-dropdown">
                    <li><a href="#">Calendar</a></li>
                    <li><a href="#">Discussions</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="large-3 columns">
                <ul class="menu vertical" data-responsive-menu="accordion medium-dropdown">
                    <li><a href="#">Merchandise</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Refund Policy</a></li>
                </ul>
            </div>
            <div class="large-3 columns">
                <div class="row social-icons">
                    <div class="large-6 columns">
                        <a href=""><img src="{{  paths.theme ~ "images/secure-payments.png"}}"/></a>
                    </div>
                    <div class="large-6 columns">
                        <a target="_blank" title="follow me on twitter" href="http://www.twitter.com/PLACEHOLDER"><img alt="follow me on twitter" src="//login.create.net/images/icons/user/twitter_130x50.png" border=0></a>
                    </div>
                    <div class="large-6 columns">
                        <a target="_blank" title="find us on Facebook" href="http://www.facebook.com/PLACEHOLDER"><img alt="find us on facebook" src="//login.create.net/images/icons/user/facebook-c_130x50.png" border=0></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns text-center">
            Copyright 2017 - {{ "now" | date("Y") }} SANCO. All rights reserved
        </div>
        {{ widgets('footer') }}
    </div>
</footer>

